.side_list {
  background-color: #171a1f;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 0 8px;
}
.main_side {
  background-color: #171a1f;
  background-image: url("https://st.deviantart.net/eclipse/global/svg/p13-stage-dark_v2.svg");
  width: 100%;
  height: 100vh;
  position: relative;
  /* display: flex;
  align-items: center;
  justify-content: center; */
}
.top_video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}
.player_tool {
  width: 100%;
  height: 65px;
  display: flex;
  align-items: center;
  background-color: #06070d;
  justify-content: space-between;
}

.player_img {
  height: 100%;
  width: auto;
}
.color_box {
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 8px;
  cursor: pointer;
}
.ratio {
  display: block;
  position: relative;
  padding-top: 56.25%;
  border-radius: 8px;
}

.ratio img {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 16px;
}
.ant-upload-list {
  display: none;
}
.video_setting {
  border: 1px solid white;
  padding: 8px;
}
.ant-slider {
  width: 100% !important;
}
.ant-slider-rail {
  height: 1px !important;
}

.ant-slider-handle {
  height: 10px !important;
  width: 10px !important;
  border-color: #00ffdc !important;
}
.ant-slider-track {
  height: 1px !important;
  background-color: #00ffdc !important;
}
.t_o {
  white-space: nowrap;
  width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.tool {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
